@font-face {
    font-family: 'Gilam';
    src: url('../fonts/Gilam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url(../fonts/Gilam-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-size: 20px;
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    color: white;
    line-height: 28px;
}
.header-infrastructure {
    background-image: url("../img/Section-BackGround.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}
.main-infrastructure {
    background-image: url("../img/Header-BackGround.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1460px;
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    align-items: center;
    justify-content: space-between;
    padding: 46px 0 0 0;
    margin-bottom: 128px;
}
.button {
    color: #E4B564;
    border: 1px solid #E4B564;
    font-size: 18px;
    line-height: 30px;
}
.back-call-button {
    padding: 10px 25px 10px;
}
.button:hover {
    border: 1px solid white;
    color: white;
    transition: 1s;
}
.phone-img {
    margin-right: 10px;
}
.section-title {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.heat-networks-title {
    margin: 0 0 41px 0;
}
.heat-networks-text {
    font-size: 20px;
    margin: 0 0 41px 0;
    max-width: 1182px;
}
.heat-networks-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, minmax(140px, 1fr));
    grid-auto-flow: row;
    gap: 34px 27px;
}
.heat-networks-item {
    display: grid;
    height: 468px;
    align-items: center;
    justify-content: center;
}
.heat-networks-item:hover,
.heavy-machine-item:hover,
.clients-projects-item-link:hover {
    transition: .5s;
    transform: scale(1.04);
}
.heat-networks-item-title {
    max-width: 380px;
    text-align: center;
}
.heat-networks-item1 {
    background-color: #634F2C;
    grid-column: span 2;

}
.heat-networks-item2 {
    background-color: #B4A385;
    grid-column: span 2;
}
.heat-networks-item3 {
    background-color: #E4B564;
    grid-column: span 2;
}
.heat-networks-item4 {
    background-color: #635A4A;
    grid-column: span 3;
}
.heat-networks-item5 {
    background-color: #B08C4D;
    grid-column: span 3;
}



.heavy-machine-title {
    margin: 0 0 94px 0;
    padding-top: 81px;
}
.heavy-machine-infrastructure {
    display: flex;
    flex-flow: column wrap;
    max-height: 1117px;
    width: 100%;
    padding: 0 0 192px 0;
}
.heavy-machine-item {
    flex: 0 0 auto;
    overflow: hidden;
    margin: 0 30px 26px 0;
    width: 32%;
}
.heavy-machine-infrastructure::before,
.heavy-machine-infrastructure::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}
.heavy-machine-item:nth-child(3n+1) {
    order: 1;
}
.heavy-machine-item:nth-child(3n+2) {
    order: 2;
}
.heavy-machine-item:nth-child(3n),
.heavy-machine-item:nth-child(7) {
    order: 3;
}
.heavy-machine-item1 {
    height: 313px;
    background-color: #0E0E0E;
}
.heavy-machine-item2 {
    height: 439px;
    background-color: #242424;
}
.heavy-machine-item3 {
    height: 255px;
    background-color: #1F1F1F;
    margin-right: 0;
}
.heavy-machine-item4 {
    height: 560px;
    background-color: #1F1F1F;
}
.heavy-machine-item5 {
    height: 434px;
    background-color: #E4B564;
}
.heavy-machine-item6 {
    height: 313px;
    background-color: #0E0E0E;
    margin-right: 0;
}
.heavy-machine-item7 {
    height: 277px;
    order: 3;
    background-color: #0A0909;
    margin-right: 0;
}
.heavy-machine-item-title {
    line-height: 25px;
    margin: 44px 0 0 48px;
}
.heavy-machine-item-subtitle {
    margin: 0 0 72px 48px;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
}



.section2-infrastructure {
    background-image: url("../img/Section-BackGround2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}
.section2-header {
    display: flex;
    justify-content: space-between;
    padding: 172px 0 0 0;
    margin-bottom: 72px;
}
.clients-projects-button {
    padding: 10px 40px;
}
.section2-infrastructure {
    padding: 0 0 239px 0;
}
.clients-projects-grid {
    display: grid;
    grid-template: repeat(2, 391px) / repeat(3, minmax(326px, 1fr));
    grid-auto-flow: row;
}
.clients-projects-item {
    display: grid;
    align-items: center;
    justify-content: center;
}
.clients-projects-item1,
.clients-projects-item6 {
    background-color: #634F2C;
}
.clients-projects-item2 {
    background-color: #E8D2AB;
    justify-items: center;
    align-content: center;
}
.clients-projects-item3 {
    background-color: #E4B564;
}
.clients-projects-item4 {
    background-color: #635A4A;
}
.clients-projects-item5 {
    background-color: #B08C4D;
}
.clients-projects-item2-img {
    margin: 0 0 16px 0;
}
.bold {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
}
.clients-projects-item-text {
    max-width: 326px;
    text-align: center;
}
.clients-projects-item:hover > .clients-projects-item-link {
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease-in-out;
    padding: 40px;
}